@import "./tailwind.css";
@import "./transitions.css";
@import "./toast.css";

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), url("../fonts/roboto/regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto"), url("../fonts/roboto/light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 600;
  src: local("roboto"), url("../fonts/roboto/bold.ttf") format("truetype");
  font-display: swap;
}

html {
  font-family: "roboto" !important;
}

/* Custom Scrollbar  */
/* Firefox */
html, .overflow-y-auto, .overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 #f4f4f5; /* zinc-300 zinc-100 */
}

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar, .overflow-x-auto::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb, .overflow-y-auto::-webkit-scrollbar-thumb, .overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #d4d4d8; /* zinc-300 */
  border-radius: 8px;
}

html::-webkit-scrollbar-track, .overflow-y-auto::-webkit-scrollbar-track, .overflow-x-auto::-webkit-scrollbar-track {
  background: #f4f4f5; /* zinc-100 */
  border-radius: 8px;
}

/* Hidden Scrollbar  */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
